MYSQL_ROOT_PASSWORD=replace-with-a-local-password
ORDER_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/fulfillment_order?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
ORDER_DB_USERNAME=fulfillment_order_app
ORDER_DB_PASSWORD=replace-with-an-order-service-password
INVENTORY_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/fulfillment_inventory?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
INVENTORY_DB_USERNAME=fulfillment_inventory_app
INVENTORY_DB_PASSWORD=replace-with-an-inventory-service-password
GRAFANA_ADMIN_PASSWORD=replace-with-a-local-password
